{% extends "base.html.twig" %}

{% block title %}Rapportsida{% endblock %}

{% block body %}
    <h1>Rapportsida</h1>
    <p>Detta är rapportsidan som innehåller kmom01 till kmom10.</p>

    <h2><a href="{{ path('report_kmom01') }}">kmom01 Rapport</a></h2>
    <p>Detta är kmom01 rapportsidan.</p>
    <p>Välkommen till kmom01 redovisningen!</p>

    <h2>kmom02 Rapport</h2>
    <p>Detta är kmom02 rapportsidan.</p>
    <p>Välkommen till kmom02 redovisningen!</p>

    <h2>kmom03 Rapport</h2>
    <p>Detta är kmom03 rapportsidan.</p>
    <p>Välkommen till kmom03 redovisningen!</p>

    <h2>kmom04 Rapport</h2>
    <p>Detta är kmom04 rapportsidan.</p>
    <p>Välkommen till kmom04 redovisningen!</p>

    <h2>kmom05 Rapport</h2>
    <p>Detta är kmom05 rapportsidan.</p>
    <p>Välkommen till kmom05 redovisningen!</p>

    <h2>kmom06 Rapport</h2>
    <p>Detta är kmom06 rapportsidan.</p>
    <p>Välkommen till kmom06 redovisningen!</p>

    <h2>kmom07 Rapport</h2>
    <p>Detta är kmom07 rapportsidan.</p>
    <p>Välkommen till kmom07 redovisningen!</p>

    <h2>kmom08 Rapport</h2>
    <p>Detta är kmom08 rapportsidan.</p>
    <p>Välkommen till kmom08 redovisningen!</p>

    <h2>kmom09 Rapport</h2>
    <p>Detta är kmom09 rapportsidan.</p>
    <p>Välkommen till kmom09 redovisningen!</p>

    <h2>kmom10 Rapport</h2>
    <p>Detta är kmom10 rapportsidan.</p>
    <p>Välkommen till kmom10 redovisningen!</p>

{% endblock %}
